@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    background: #e5e5e5;
    font-family: 'Roboto', sans-serif ;
}

.container{
    width: 500px;
    margin: 100px auto;
}

.signup,
.login{
    width: 50%;
    background: white;
    float: left;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
}

.signup-form,
.login-form{
    background: white;
    box-sizing: border-box;
    padding: 40px;
    clear: both;
    width: 100%;


}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 25px;
    border: 2px solid lightgray;
    color: black;
    font-size: 20px;
    outline: none;
    transition: all 0.5s ease;
}

.input:focus{
    border: 2px solid black;
}

.btn{
    width: 60%;
    background: lightskyblue;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
}
span a{
    text-decoration: none;
    color: black;
}

.usernavbar {
	overflow: hidden;
	background-color: #87CEFA;
	
}

.usernavbar a{
	float: right;
	color: white;
	text-align: center;
	padding: 14px 40px;
	text-decoration: none;
	font-size: 20px;
}
/* Hovering over the navigation */
.usernavbar a:hover{
	background-color: #0000CD;
	color: white;
}

.headclass{
    position: absolute;
    right: 380px;
    top: 80px;
}

.personal{
    position: absolute;
    right: 860px;
    top: 470px;
}


#classify{
    padding: 30px 30px;
    border: none;
    border-radius: 4px;
    background-color: #ADD8E6;
    font-size: 40px;
  }

  .schedule{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .labelclass{
      font-size: 30px;
  }

  .scLabel{
      font-size: 30px;
  }
  
  .class1{
      font-size: 20px;
      padding: 10px;
  }
  #classtime1{
      padding: 10px 10px;
  }

  #location1{
      padding: 10px 10px;
  }
  #classname1{
    padding: 10px 10px;
  }
  #classday1{
    padding: 10px 10px;
  }

  .class2{
    font-size: 20px;
    padding: 10px;
}
#classtime2{
    padding: 10px 10px;
}

#location2{
    padding: 10px 10px;
}
#classname2{
  padding: 10px 10px;
}
#classday2{
  padding: 10px 10px;
}

.class3{
    font-size: 20px;
    padding: 10px;
}
#classtime3{
    padding: 10px 10px;
}

#location3{
    padding: 10px 10px;
}
#classname3{
  padding: 10px 10px;
}
#classday3{
  padding: 10px 10px;
}

.class4{
    font-size: 20px;
    padding: 10px;
}
#classtime4{
    padding: 10px 10px;
}

#location4{
    padding: 10px 10px;
}
#classname4{
  padding: 10px 10px;
}
#classday4{
  padding: 10px 10px;
}

.class5{
    font-size: 20px;
    padding: 10px;
}
#classtime5{
    padding: 10px 10px;
}

#location5{
    padding: 10px 10px;
}
#classname5{
  padding: 10px 10px;
}
#classday5{
  padding: 10px 10px;
}

.class6{
    font-size: 20px;
    padding: 10px;
}
#classtime6{
    padding: 10px 10px;
}

#location6{
    padding: 10px 10px;
}
#classname6{
  padding: 10px 10px;
}
#classday6{
  padding: 10px 10px;
}


