<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <meta name="description" content="ParkEasy"/>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/Style.css">


</head>
<body>
<!-- Creates the user navigation bar -->
<div class="usernavbar">
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
  <a href="/">Home</a>
</div>
<main>
 <!--Information needed to get the user's classification-->
<h2 class="headclass">Choose your classification: (required)</h2>
<form class="classification">
    <select name="classify" id="classify">
        <option value="residential" selected>Residential</option>
        <option value="faculty">Faculty</option>
        <option value="commuter">Commuter</option>
        <option value="visitor">Visitor</option>
    </select>
</form><br>

<h2 class="headS">Schedule (Optional ~ Can be used to quickly route you based on your classes)</h2>
<form class="schedule">
     <!--Information needed for class 1-->
    <fieldset class="class1">
        <select name="class1" id="class1">
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select><br>
        <label for="classtime">Time of Class:</label>
        <input type="time" id="classtime" name="classtime">
        <label for="location2">Location</label>
        <select name="location" id="location2">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classname">Name of Class:</label>
        <input type="text" id="classname" name="classname">
    </fieldset>
     <!--Information needed for class 2-->
    <fieldset class="class2">
        <select name="class2" id="class2">
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select><br>
        <label for="classtime2">Time of Class:</label>
        <input type="time" id="classtime2" name="classtime">
        <label for="location2">Location</label>
        <select name="location" id="location2">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classtime2">Name of Class:</label>
        <input type="text" id="classname2" name="classname2">
    </fieldset>
     <!--Information needed for class 3-->
    <fieldset class="class3">
        <select name="class3" id="class3">
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select><br>
        <label for="classtime3">Time of Class:</label>
        <input type="time" id="classtime3" name="classtime">
        <label for="location3">Location</label>
        <select name="location" id="location3">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classtime3">Name of Class:</label>
        <input type="text" id="classname3" name="classname3">
    </fieldset>
     <!--Information needed for class 4-->
    <fieldset class="class4">
        <select name="class4" id="class4">
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select><br>
        <label for="classtime4">Time of Class:</label>
        <input type="time" id="classtime4" name="classtime">
        <label for="location4">Location</label>
        <select name="location" id="location4">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classname4">Name of Class:</label>
        <input type="text" id="classname4" name="classname4">
    </fieldset>
     <!--Information needed for class 5-->
    <fieldset class="class5">
        <select name="class5" id="class5">
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select><br>
        <label for="classtime5">Time of Class:</label>
        <input type="time" id="classtime5" name="classtime">
        <label for="location5">Location</label>
        <select name="location" id="location5">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classname5">Name of Class:</label>
        <input type="text" id="classname5" name="classname5">
    </fieldset>
    <!--Information needed for class 6-->
    <fieldset class="class6">
        <select name="class6" id="class6">
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
        </select><br>
        <label for="classtime6">Time of Class:</label>
        <input type="time" id="classtime6" name="classtime">
        <label for="location6">Location</label>
        <select name="location" id="location6">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classname6">Name of Class:</label>
        <input type="text" id="classname6" name="classname6">
    </fieldset>
</form>

<h2 class="personal">Personal Information (required)</h2>
<div class="container">
    <div class="signup">Welcome to ParkEasy</div>
    <div class="signup-form">
        <input type="text" placeholder="Type your First Name Here" class="input"><br>
        <input type="text" placeholder="Type your Last Name Here" class="input"><br>
        <input type="text" placeholder="Type your Email Here" class="input"><br>
        <input type="text" placeholder="Type your Username Here" class="input"><br>
        <input type="password" placeholder="Type your Password Here" class="input"><br>
        <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label><br>
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p><br>
        <div class="btn">Create Account</div><br>
    </div>

    </div>
</main>

</body>
</html>