<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/Style.css">
</head>

<body>
<!-- Creates the user navigation bar -->
<div class="usernavbar">
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <a href="/">Home</a>
  </div>

  <div class="errors">
  <%if (typeof errors != 'undefined'){ %>
    <% for(let i=0; i< errors.length; i++){ %>
       <p><%= errors[i].msg %></p>
    <%}%>
<%}%>
    </div>
    <form action="/profile" method="POST">
        <div class="container">
            <div class="login">Log In</div>
            <div class="login-form">
                <input type="text" id="username"  name="username" placeholder="Username" class="input">
                <input type="password" id-="psw"  name="psw" placeholder="************" class="input">
                <button type= "submit" class="btn">Log in</button><br>
                <span><a href="#">I Forgot my Username or Password</a> </span>
            </div>
    </form>
</body>
</html>