<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <meta name="description" content="ParkEasy"/>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/Style.css">


</head>
<body>
<!-- Creates the user navigation bar -->
<div class="usernavbar">
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
  <a href="/">Home</a>
</div>
<main>

<form action="/" method="POST">
    <div class="signup">Welcome to ParkEasy (required)</div>
    <div class="signup-form">
        <input type="text" id="firstname" name="firstname" placeholder="Type your First Name Here" class="input"><br>
        <input type="text" id="email" name="email" placeholder="Type your Email Here" class="input"><br>
        <input type="text" id="username" name="password" placeholder="Type your Username Here" class="input"><br>
        <input type="password" id="pass" name="pass" placeholder="Type your Password Here" class="input"><br>
         <!--Information needed to get the user's classification-->
        <label class="labelclass" for="classify">Choose your classification</label>
        <select name="classify" id="classify">
            <option value="residential" selected>Residential</option>
            <option value="faculty">Faculty</option>
            <option value="commuter">Commuter</option>
            <option value="visitor">Visitor</option>
        </select><br><br><br>
        <label class="scLabel">Schedule (Optional ~ Can be used to quickly route you based on your classes)</label><br>
         <!--Information needed for class 1-->
    <fieldset class="class1">
        <label for="classtime1">Start Time of Class:</label>
        <input type="time" id="classtime1" name="classtime1">
        <label for="location1">Location</label>
        <select name="location1" id="location1">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classname1">Name of Class:</label>
        <input type="text" id="classname1" name="classname1">
        <label for="classday1">Day/Days of Class:</label>
        <select name="classday1" id="classday1">
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="MonWedFri">Mon/Wed/Fri</option>
            <option value="Tues/Thurs">Tues/Thurs</option>
            <option value="Mon/Wed">Mon/Wed</option>
        </select>
    </fieldset>
     <!--Information needed for class 2-->
    <fieldset class="class2">
        <label for="classtime2">Start Time of Class:</label>
        <input type="time" id="classtime2" name="classtime2">
        <label for="location2">Location</label>
        <select name="location2" id="location2">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classname2">Name of Class:</label>
        <input type="text" id="classname2" name="classname2">
        <label for="classday2">Day/Days of Class:</label>
        <select name="classday2" id="classday2">
        <option value="Monday" selected>Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="MonWedFri">Mon/Wed/Fri</option>
        <option value="Tues/Thurs">Tues/Thurs</option>
        <option value="Mon/Wed">Mon/Wed</option>
    </select><br>
    </fieldset>
     <!--Information needed for class 3-->
    <fieldset class="class3">
        <label for="classtime3">Start Time of Class:</label>
        <input type="time" id="classtime3" name="classtime3">
        <label for="location3">Location</label>
        <select name="location3" id="location3">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classtime3">Name of Class:</label>
        <input type="text" id="classname3" name="classname3">
        <label for="classday3">Day/Days of Class:</label>
        <select name="classday3" id="classday3">
        <option value="Monday" selected>Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="MonWedFri">Mon/Wed/Fri</option>
        <option value="Tues/Thurs">Tues/Thurs</option>
        <option value="Mon/Wed">Mon/Wed</option>
    </select><br>
    </fieldset>
     <!--Information needed for class 4-->
    <fieldset class="class4">
        <label for="classtime4">Start Time of Class:</label>
        <input type="time" id="classtime4" name="classtime4">
        <label for="location4">Location</label>
        <select name="location4" id="location4">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classname4">Name of Class:</label>
        <input type="text" id="classname4" name="classname4">
        <label for="classday4">Day/Days of Class:</label>
        <select name="classday4" id="classday4">
        <option value="Monday" selected>Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="MonWedFri">Mon/Wed/Fri</option>
        <option value="Tues/Thurs">Tues/Thurs</option>
        <option value="Mon/Wed">Mon/Wed</option>
    </select><br>
    </fieldset>
     <!--Information needed for class 5-->
    <fieldset class="class5">
        <label for="classtime5">Start Time of Class:</label>
        <input type="time" id="classtime5" name="classtime5">
        <label for="location5">Location</label>
        <select name="location5" id="location5">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classname5">Name of Class:</label>
        <input type="text" id="classname5" name="classname5">
        <label for="classday5">Day/Days of Class:</label>
        <select name="classday5" id="classday5">
        <option value="Monday" selected>Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="MonWedFri">Mon/Wed/Fri</option>
        <option value="Tues/Thurs">Tues/Thurs</option>
        <option value="Mon/Wed">Mon/Wed</option>
    </select><br>
    </fieldset>
    <!--Information needed for class 6-->
    <fieldset class="class6">
        <label for="classtime6">Start Time of Class:</label>
        <input type="time" id="classtime6" name="classtime6">
        <label for="location6">Location</label>
        <select name="location6" id="location6">
            <option value="woodward">Woodward</option>
            <option value="chhs">CHHS</option>
            <option value="coed">COED</option>
            <option value="atkins">Atkins Library</option>
            <option value="bioinformatic">Bioinformatic</option>
            <option value="barnard">Barnard</option>
            <option value="burson">Burson</option>
            <option value="cameron">Cameron</option>
            <option value="colvard">Colvard</option>
            <option value="cone">Cone</option>
            <option value="denny">Denny</option>
            <option value="duke">Duke Centennial</option>
            <option value="epic">EPIC</option>
            <option value="fret">Fretwell</option>
            <option value="friday">Friday</option>
            <option value="garinger">Garinger</option>
            <option value="grigg">Grigg</option>
            <option value="belk">Belk Gym</option>
            <option value="band">Band Center</option>
            <option value="kennedy">Kennedy</option>
            <option value="macy">Macy</option>
            <option value="mceniry">McEniry</option>
            <option value="memorial">Memorial Hall</option>
            <option value="robinson">Robinson Hall</option>
            <option value="rowe">Rowe</option>
            <option value="smith">Smith</option>
            <option value="storrs">Storrs</option>
            <option value="win">Winningham</option>
        </select>
        <label for="classname6">Name of Class:</label>
        <input type="text" id="classname6" name="classname6">
        <label for="classday6">Day/Days of Class:</label>
        <select name="classday6" id="classday6">
        <option value="Monday" selected>Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="MonWedFri">Mon/Wed/Fri</option>
        <option value="Tues/Thurs">Tues/Thurs</option>
        <option value="Mon/Wed">Mon/Wed</option>
    </select><br>
    </fieldset>
        <label><br>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label><br>
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p><br>
        <button type= "submit" class="btn">Create Account</button><br>
            <span><a href="#">I Forgot my Username or Password</a> </span>
        </div>
</form>
</main>

</body>
</html>